@font-face {
    font-family: 'Futura';
    src: url('/fonts/Futura-Medium.eot');
    src: url('/fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Futura-Medium.woff2') format('woff2'),
        url('/fonts/Futura-Medium.woff') format('woff'),
        url('/fonts/Futura-Medium.ttf') format('truetype'),
        url('/fonts/Futura-Medium.svg#Futura-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('/fonts/Futura-Bold.eot');
    src: url('/fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Futura-Bold.woff2') format('woff2'),
        url('/fonts/Futura-Bold.woff') format('woff'),
        url('/fonts/Futura-Bold.ttf') format('truetype'),
        url('/fonts/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

