@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #837CF3;
  --color-secondary: #9256E2;
  --color-background: #201C2E;
}

/* Estilos globales personalizados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Futura', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #201C2E;
  font-weight: 500;
}

/* Futura Medium como fuente por defecto para todos los elementos */
* {
  font-family: 'Futura', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}
