@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #837CF3;
  --color-secondary: #9256E2;
  --color-background: #201C2E;
}

/* Estilos globales personalizados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #201C2E;
}
